<!-- banner -->
	<div class="banner">
    <%= image_tag("index/banner.png", :width => "100%")%>
		<div class="jumb">
			<h3 class="title">用靠谱的方式，学好、学明白</h3>
			<p class="detail">学习从未这么直白</p>
			<a href="/dashboard?category=basic" class="link_btn">
				<span>开始学习</span>
			</a>
		</div>
	</div>
	<!-- banner end-->
	<!-- section -->
	<div class="section_box">
		<div class="container_wrap section_com section_1">
			<div class="section_img left">
        <%= image_tag("index/section01.jpg")%>
			</div>
			<div class="article right">
				<h3>最少必要知识</h3>
				<p>效率不是最重要的吗?为什么非要把文稿看完，才能搞明白？我只想看重点！</p>
			</div>
		</div>
		<div class="container_wrap section_com section_2">
			<div class="article left">
				<h3>我都学了些什么</h3>
				<p>不要因为走的太远，忘记了当初为什么出发：我学了什么，我喜欢什么，我的问题是什么？一目了然。</p>
			</div>
			<div class="section_img right">
        <%= image_tag("index/section02.png")%>
			</div>
		</div>
	</div>
	<!-- section end-->
