<!-- 面包屑 -->
<ol class="breadcrumb">
  <li><%= link_to("作业列表", admin_assignments_path) %></li>
  <li class="active">作业详情</li>
</ol>

<div class="pull-right">
  <%= link_to(edit_admin_section_assignment_path(@assignment.section, @assignment), :class => "btn btn-xs btn-default") do%>
    <span class="fa fa-edit" title ="编辑作业"></span>
  <% end %>
</div>

<h3><%= @assignment.assignment_name %></h3>
<% if @assignment.assignment_name %>
  <%= markdown(@assignment.description) %>
<% else %>
  暂无内容
<% end %>
