$footerHeight: 50px;

html,body{
  height: 100%;
  min-height: 100%;
  background: #e7e8eb;
}
.container{
  height: 100%;
  min-height: 100%;
}
// 提示框样式
.alert{
  margin: 0;
}


.main-content{
  min-height: -webkit-calc(100% - 50px);
  background: #fff;
  padding: 20px 0;
  border-radius: 5px;
  margin-top: 15px;
}

.footer{
  height: $footerHeight ;
  line-height: $footerHeight ;
  text-align: center;
  font-size: 14px;
}

// 表格的样式
.table{
  margin-top: 10px;
  td{
    vertical-align: middle !important;
    text-align: center;
  }
}
