html,body{
  height: 100%;
  min-height: 100%;
  background: linear-gradient(rgba(0,0,0,0.15) 0%, transparent 80px) no-repeat,url(https://d1vzm1nztjpyu4.cloudfront.net/assets/images/white_wall_hash-aa2a2fc….png) repeat;
}


.navbar-default{
  background-color: transparent;
  border: 0;
}
