$footerHeight: 50px;

html,body{
  height: 100vh;
  min-height: 100vh;
  background: #e7e8eb;
}

// 提示框样式
.alert{
  margin: 0;
}

.admin-navbar {
  a:focus,
  a:hover{
    color: #fff;
    background-color: #2a2f32;
  }
  .container-fluid{
    padding: 0;
  }
}
.admin-navbar-header{
  width: 180px;
  height: 50px;
  .navbar-logo{
    width: 50px;
    height: 50px;
    float: left;
    font-size: 24px !important;
    color: #FFF;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #000;
  }
  .navbar-brand-text{
    width: 129px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;

  }
}

.main-content{
  min-height: -webkit-calc(100vh - 50px);
  background: #fff;
  padding: 20px 0;
  // border-radius: 5px;
  // margin-top: 15px;
}

.footer{
  height: $footerHeight ;
  line-height: $footerHeight ;
  text-align: center;
  font-size: 14px;
}

// 表格的样式
.table{
  margin-top: 10px;
  td{
    vertical-align: middle !important;
    text-align: center;
  }
}
