// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course-list{
  background-color: #fff;
  .table{
    margin-top: 10px;
    td{
      vertical-align: middle !important;
      text-align: center;
    }
  }
}
