/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "dashboard";
@import "admin/sections";
@import "base";
@import "posts";

.alert{
  margin: 0;
}

// 导航栏 start
.header{
  height: 70px;
	background: #fff;
  .logo{
  	padding-top: 16px;
  	margin-right: 36px;
  }
  .wrap_left li{
  	float: left;
  	margin-right: 100px;
  }
  .wrap_left li a{
  	padding: 0 10px;
  	height: 16px;
  	height: 70px;
  	line-height: 70px;
  }
  .wrap_right{
  	padding-top: 18px;
  }
  .wrap_right .search {
    width: 230px;
    height: 32px;
    overflow: hidden;
    margin-right: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
  }
  .wrap_right .search input{
  	width: 180px;
    	padding: 0 10px;
    	height: 30px;
    	border: none;
    	outline: none;
    	float: left;
  }
  .wrap_right .login_btn,.wrap_right .signup_btn {
  	padding: 0 12px;
  	height: 32px;
  	line-height: 32px;
  	font-size: 16px;
  	display: inline-block;

  }
  .wrap_right .login_btn {
  	position: relative;
  	padding-right: 14px;
  }
  .wrap_right .login_btn:before {
  	position: absolute;
  	top: 9px;
  	right: 0;
  	content: '';
  	width: 2px;
    	height: 15px;
    	background-color: #eaeaea;
  }
  .wrap_right .search .search_icon{
  	float: left;
  	width: 30px;
  	height: 32px;
  	background: url(../images/icon_search.png) no-repeat;
  	background-position: left center;
  }
}
// 导航栏 end
/*首页 css*/
.banner{
	position: relative;
  .jumb{
  	position: absolute;
  	top: 40%;
  	width: 100%;
  	text-align: center;
    .title{
      	font-size: 48px;
      	font-weight: 600;
      	color: #fff;
    }
    .detail{
    	font-size: 20px;
      	font-weight: 500;
      	color: #fefffe;
      	margin: 30px 0 40px;
    }
    .link_btn{
      width: 170px;
      height: 50px;
      line-height: 50px;
      border-radius: 6px;
      background-color: #1965b5;
      display: inline-block;
      font-size: 18px;
      color: #fefffe;
    }
  }
}
<<<<<<< HEAD
.title {
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  max-width: 500px;//最大宽度
//   margin-top: 200px;//和顶部拉开距离
  margin-bottom: 0;//这样就可以紧接息面的描述文字
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}
.jumbotron h1, .jumbotron .h1 {
    text-align: left;//文字左对齐
    color: #222;  //字体颜色

    padding: 50px 20px 0;//上50px，左右20px，下0
}

.jumbotron p {
    margin: 0;//上下左右margin为0
    font-size: 26px;//字体大小
    max-width: 500px;//最大宽度
    background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
    padding: 20px;//上下左右padding为20px
    text-align:left;//文字左对齐
    color: #222;//字体颜色

    border-bottom-right-radius: 3px;//右下角圆边
    border-bottom-left-radius: 3px;//左下角圆边
}
.btn-danger {
    color: #fff;//字体颜色

    background-color: #EF6C00;//背景颜色

    border-color: #EF6C00;//边框颜色

}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色

    border-color: #E65100;//鼠标放置在btn上的边框颜色

}
.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 200px;//这里用指定宽度把btn拉得更长
}
.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
// banner end

//caption start
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
=======
.section_box {
	background: #fff;
  .section_com {
  	height: 500px;
    .section_img{
    	margin-top: 150px;
    }
    h3{
    	font-size: 30px;
    	color: #333;
    	margin-bottom: 50px;
    }
    p{
    	font-size: 20px;
    	color: #4f5f78;
    	line-height: 48px;
    }
  }
  .section_1 {
    .article{
    	width: 652px;
    }
    h3{
      margin-top: 200px;
    }
  }
  .section_2 {
    .article{
    	width: 620px;
    }
    h3{
      margin-top: 177px;
    }
  }
>>>>>>> 2e1bbf35426daf1980d86077d939500fa6350a07

}
/*首页 css end*/

/*footer css*/
.footer {
  	height: 152px;
  	text-align: center;
}
.footer .contact{
	padding: 20px 0 22px;
}
.footer .contact .weixin{
	margin-right: 20px;
}
.footer .des_block{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 20px;
}
.footer .des_block li{
	float: left;
}
.footer .des_block li.line{
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
}
.footer .des_block li.line:after{
	position: absolute;
	top: 4px;
	right: 0;
	content: '';
	width: 1px;
	height: 10px;
	background: #999;
}
.footer .des_block li a{
	font-size: 14px;
	color: #333;
}
.footer .copyright{
	width: 1000px;
	font-size: 14px;
	padding-top: 12px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #dcdcdc;
}
/*footer css end*/
