/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "dashboard";
@import "courses";
@import "admin/sections";
@import "base";
@import "posts";

.alert{
  margin: 0;
}

// 导航栏 start
.layout-header{
  height: 70px;
	background: #fff;
  .logo{
		margin-right: 36px;
		.navbar-brand{
			padding: 10px;
			line-height: 50px;
			color: #333;
			font-size: 18px;
		}
  }
  .wrap_left li{
  	float: left;
  	margin-right: 100px;
  }
  .wrap_left li a{
  	padding: 0 10px;
  	height: 16px;
  	height: 70px;
  	line-height: 70px;
  }
  .wrap_right{
  	padding-top: 18px;
  }
  .wrap_right .search {
    width: 230px;
    height: 32px;
    overflow: hidden;
    margin-right: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
  }
  .wrap_right .search input{
  	width: 180px;
    	padding: 0 10px;
    	height: 30px;
    	border: none;
    	outline: none;
    	float: left;
  }
  .wrap_right .login_btn,.wrap_right .signup_btn {
  	padding: 0 12px;
  	height: 32px;
  	line-height: 32px;
  	font-size: 16px;
  	display: inline-block;

  }
  .wrap_right .login_btn {
  	position: relative;
  	padding-right: 14px;
  }
  .wrap_right .login_btn:before {
  	position: absolute;
  	top: 9px;
  	right: 0;
  	content: '';
  	width: 2px;
    	height: 15px;
    	background-color: #eaeaea;
  }
  .wrap_right .search .search_icon{
  	float: left;
  	width: 30px;
  	height: 32px;
  	background: url(../images/icon_search.png) no-repeat;
  	background-position: left center;
  }
}
// 导航栏 end
/*首页 css*/
.banner{
	position: relative;
  .jumb{
  	position: absolute;
  	top: 40%;
  	width: 100%;
  	text-align: center;
    .title{
      	font-size: 48px;
      	font-weight: 600;
      	color: #fff;
    }
    .detail{
    	font-size: 20px;
      	font-weight: 500;
      	color: #fefffe;
      	margin: 30px 0 40px;
    }
    .link_btn{
      width: 170px;
      height: 50px;
      line-height: 50px;
      border-radius: 6px;
      background-color: #1965b5;
      display: inline-block;
      font-size: 18px;
      color: #fefffe;
    }
  }
}

.section_box {
	background: #fff;
  .section_com {
  	height: 500px;
    .section_img{
    	margin-top: 150px;
    }
    h3{
    	font-size: 30px;
    	color: #333;
    	margin-bottom: 50px;
    }
    p{
    	font-size: 20px;
    	color: #4f5f78;
    	line-height: 48px;
    }
  }
  .section_1 {
    .article{
    	width: 652px;
    }
    h3{
      margin-top: 200px;
    }
  }
  .section_2 {
    .article{
    	width: 620px;
    }
    h3{
      margin-top: 177px;
    }
  }

}
/*首页 css end*/

.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  font-family: roboto;
  h1 {
  	text-align: center;
  	font-size: 1.8em;
  	font-family: roboto;
  }
  a {
  	text-decoration: none;
  	color: #666;
  	font-weight: 400;
  	text-align: center;
  	display: inline-block;
  	opacity: 0.6;
  	transition: opacity ease 0.5s;
  }
  input[type=submit] {
  	width: 100%;
  	display: block;
  	margin-bottom: 10px;
  	position: relative;
  }
  input[type=text], input[type=password] {
  	height: 44px;
  	font-size: 16px;
  	width: 100%;
  	margin-bottom: 10px;
  	-webkit-appearance: none;
  	background: #fff;
  	border: 1px solid #d9d9d9;
  	border-top: 1px solid #c0c0c0;
  	/* border-radius: 2px; */
  	padding: 0 8px;
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  }
  input[type=text]:hover, input[type=password]:hover {
  	border: 1px solid #b9b9b9;
  	border-top: 1px solid #a0a0a0;
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}
.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial',
	sans-serif; font-weight: 700;
	height: 36px; padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
	user-select: none; */
}
.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px; color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 14px;
}
.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
}
.login-help{
	font-size: 12px;
}

/*footer css*/
.footer {
  	height: 152px;
  	text-align: center;
}
.footer .contact{
	padding: 20px 0 22px;
}
.footer .contact .weixin{
	margin-right: 20px;
}
.footer .des_block{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 20px;
}
.footer .des_block li{
	float: left;
}
.footer .des_block li.line{
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
}
.footer .des_block li.line:after{
	position: absolute;
	top: 4px;
	right: 0;
	content: '';
	width: 1px;
	height: 10px;
	background: #999;
}
.footer .des_block li a{
	font-size: 14px;
	color: #333;
}
.footer .copyright{
	width: 1000px;
	font-size: 14px;
	padding-top: 12px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #dcdcdc;
}
/*footer css end*/
