<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">学习中心</a></li>
  <li role="presentation"><a href="#">课程管理</a></li>
  <li role="presentation"><a href="#">作业管理</a></li>
</ul>
