<ul id="sidebar" class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><%= link_to('课程管理', admin_dashboard_path) %></li>
  <li role="presentation"><a href="#">作业管理</a></li>
</ul>
<script type="text/javascript">
  $("#sidebar li").click(function(e) {

  })
</script>
