<footer>
  <div class="footer-section">
      <div class="container footer-content">
          <div class="contact-line-block">
              <div class="right-block">
                  <div class="line">
                      <div class="icon">
                          <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>
                      </div>
                      <div class="link">
                          <a href="#" onclick="Intercom('show');">在线客服<br class="mobile-view">
                              <span class="xs-mobile">(非技术答疑，工作日10:00-19:00)</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="des-block">
            <div class="column-block">
              <div class="column-left">
                  <ul class="list-unstyled">
                      <li class="column-title">全栈营</li>
                      <li><a href="/pages/course_intro">课程介绍</a></li>
                      <li><a href="/pages/teachers">教学团队</a></li>
                      <li><a href="/pages/students">学员心得</a></li>
                  </ul>
              </div>
              <div class="column-center">
                  <ul class="list-unstyled">
                      <li class="column-title">课程资源</li>
                      <li><a href="/dashboard">学习中心</a></li>
                      <li><a href="/">帮助文档</a></li>
                      <li><a href="/">交流论坛</a></li>
                  </ul>
              </div>
              <div class="column-right">
                  <ul class="list-unstyled">
                      <li class="column-title">关于我们</li>
                      <li><a href="/pages/about">公司介绍</a></li>
                      <li><a href="/pages/faq">常见问题</a></li>
                      <li><a href="/pages/contact">联系方式</a></li>
                  </ul>
              </div>
          </div>
        </div>

          <div class="fline"></div>
          <div class="copyright-block">
              <div class="copyright-content">
                  <div class="copyright-info">
                      <p>
                          © 2017 北京豆优课堂科技有限公司
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
