<!-- footer -->
<div class="footer">
	<div class="contact">
		<a href="#" class="weixin">
      <%= image_tag("index/weixin_icon.png") %>
    </a>
		<a href="#">
      <%= image_tag("index/weibo_icon.png") %>
    </a>
	</div>
	<ul class="des_block">
		<li class="line"><a href="#">企业合作</a></li>
		<li class="line"><a href="#">人才招聘</a></li>
		<li class="line"><a href="#">关于我们</a></li>
		<li><a href="#">联系我们</a></li>
	</ul>
	<p class="copyright">Copyright©️2013-2017 上道教育  All Right </p>
</div>
<!-- footer end-->
