<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    编辑章节
    <small></small>
  </h1>

  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li><%= link_to("课程目录", admin_course_path(@chapter.course)) %></li>
    <li class="active">编辑章节</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="form-wrap">
            <%= render "form" %>
          </div>
        </div>

      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
